<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Constantin Kronbichler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#open-source-work">open source work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">{{ site.title }}</div>
        <div class="head-punchline animated">{{ site.description }}</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">about</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">skills</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">projects</a>
            <a class="semi-transparent-button with-border nav-links" href="#open-source-work">open source work</a>
        </div>
    </div>
</section>
-->
