<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">open source work</div>

            {% for project in site.open_source_work %}
            <div class="card">
                <h2>{{ project.name }}</h2>
                <ul class="paragraph-text" style="color: #000; text-align: left;">
                {% for detail in project.details %}
                    <li>{{ detail }}</li>
                {% endfor %}
                </ul>
                <p class="paragraph-text" style="color: #000; text-align: left;">
                <b>tags: </b> {{ project.tags }}
                </p>
                <p class="paragraph-text" style="color: #000; text-align: left;">
                <a href="{{ project.github }}">GitHub</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
