
<div class="section-wrapper">
    <section class="section papers" id="papers">
        <div>
            <div class="section-heading" id="papers-text">papers</div>

            <div class="paragraph-text" style="margin-top: 2vh;">
                <div style="margin-bottom: 2vh;">
                    <h3 style="margin-bottom: 1vh;">GateRank: A linear attention extension with learnable rank structure inspired by fast and slow synapses</h3>
                    <p><b>Constantin Kronbichler</b>, Jan Finkbeiner, Emre Neftci</p>
                    <a href="/portfolio/papers/gaterank_paper.pdf" target="_blank">View Paper (PDF)</a>
                </div>

                <div style="margin-bottom: 2vh;">
                    <h3 style="margin-bottom: 1vh;">Enhancing Automated Feedback for Fitness Exercises Using Pose Estimation and Semi-Supervised Generative Adversarial Learning</h3>
                    <p>Oliver Werthwein, <b>Constantin Kronbichler</b>, Marc Schroth, Wilhelm Stork</p>
                    <a href="https://ieeexplore.ieee.org/abstract/document/11050632" target="_blank">View on IEEE Xplore</a>
                </div>
            </div>
        </div>
    </section>
</div>
