<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">projects</div>

            <p class="paragraph-text">
            this is just a selection. some more projects can be found on
            <a href="https://github.com/ccrownhill">my GitHub</a>.
            </p>
            
            {% for project in site.projects %}
            <div class="card">
                <h2>{{ project.name }}</h2>
                <img src="{{ project.image }}" style="width:100%;">
                <h2>details</h2>
                <ul class="paragraph-text" style="color: #000;">
                {% for detail in project.details %}
                    <li>{{ detail }}</li>
                {% endfor %}
                </ul>
                <p class="paragraph-text" style="color: #000;">
                <b>tags: </b> {{ project.tags }}
                </p>
                <p class="paragraph-text" style="color: #000;">
                <a href="https://github.com/ccrownhill/{{ project.github }}">GitHub</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
