<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">projects</div>
            
            <div class="card">
                <h2>some project</h2>
                <img src="/portfolio/assets/images/background.jpg">
                <h2>details</h2>
                <ul>
                    <li>test 1</li>
                    <li>test 2</li>
                </ul>
            </div>
        </div>
    </section>
</div>
