
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">skills</div>

            <div class="skills-grid">
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                    {% for skill in site.skills %}
                    <div class="skillbar clearfix " data-percent="{{ skill.percent }}%">
                        <div class="skillbar-title" style="background: #2980b9;"><span>{{ skill.name }}</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
