
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">skills</div>

            <div class="skills-grid">
                <div class="skills left">
                    <div class="progress-bars">
                    {% for skill in site.skills_left %}
                    <div class="skillbar-title"><p>{{ skill.name }}</p></div>
                    <div class="skillbar clearfix " data-percent="{{ skill.percent }}%">
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    {% endfor %}
                    </div>
                </div>
                <div class="skills right">
                    <div class="progress-bars">
                    {% for skill in site.skills_right %}
                    <div class="skillbar-title"><p>{{ skill.name }}</p></div>
                    <div class="skillbar clearfix " data-percent="{{ skill.percent }}%">
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
