<!DOCTYPE html>
<html lang="en-us">
    
    {% include head.html %}


    <!--<body style="background: url(/portfolio/assets/images/background.jpg); background-attachment: fixed; background-repeat: no-repeat;">-->
<!--<body class="text-left" style="background-color: #032b5f;">-->
<body class="text-left" style="background-color: #0e0163;">

    {% include nav.html %}

    {% include top.html %}

    {% include about.html %}

    {% include papers.html %}

    {% include projects.html %}

    {% include open_source_work.html %}

    {% include contact.html %}
        
    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>
